* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 960px;
}

.form {
    position: relative;
}

.drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.drop-area--hidden {
    visibility: hidden;
    opacity: 0;
}

.drop-area--highlight {
    background-color: rgba(255, 255, 255, 1);
}