@import "../../../styles/variables.scss";

.messages-container {
  padding: 20px 30px;
}

@media (max-width: 768px) {
  .messages-list {
    &__item {
      flex-wrap: wrap;
      justify-content: center;
      border-top: 1px solid $borderColor;
      text-align: center;
    }
    &__date {
      width: 100%;
    }
    &__status {
      width: 100%;
      text-align: center;
    }
    &__subject {
      width: 100%;
      white-space: normal;
    }
  }

  .messages-container {
    &__head {
      border: 0;
      text-align: center;
    }
  }
}